/* Inicio */
.center{
    text-align: center;
}
.card-img-top{
    height: 350px;
    width: 239px;
}
nav{
    background-color: #C9B2A0;
}
.fund-nav{
    background-color: #C9B2A0;
}
footer{
    background-color: #C9B2A0;
}